fastapi==0.115.0
uvicorn[standard]==0.30.6
numpy
pandas
scikit-learn==1.6.1
pydantic
python-multipart
category-encoders
xgboost
requests
slowapi==0.1.9
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
boto3